@font-face {font-family: "Kitchakan Mon Thin"; src: url("KitchakanMon-Thin.woff2");}
@font-face {font-family: "Kitchakan Mon ExtraLight"; src: url("KitchakanMon-ExtraLight.woff2");}
@font-face {font-family: "Kitchakan Mon Light"; src: url("KitchakanMon-Light.woff2");}
@font-face {font-family: "Kitchakan Mon Regular"; src: url("KitchakanMon-Regular.woff2");}
@font-face {font-family: "Kitchakan Mon Medium"; src: url("KitchakanMon-Medium.woff2");}
@font-face {font-family: "Kitchakan Mon SemiBold"; src: url("KitchakanMon-SemiBold.woff2");}
@font-face {font-family: "Kitchakan Mon Bold"; src: url("KitchakanMon-Bold.woff2");}
@font-face {font-family: "Kitchakan Mon ExtraBold"; src: url("KitchakanMon-ExtraBold.woff2");}
@font-face {font-family: "Kitchakan Mon Black"; src: url("KitchakanMon-Black.woff2");}
@font-face {font-family: "Kitchakan Mon Thin Italic"; src: url("KitchakanMon-ThinItalic.woff2");}
@font-face {font-family: "Kitchakan Mon ExtraLight Italic"; src: url("KitchakanMon-ExtraLightItalic.woff2");}
@font-face {font-family: "Kitchakan Mon Light Italic"; src: url("KitchakanMon-LightItalic.woff2");}
@font-face {font-family: "Kitchakan Mon Italic"; src: url("KitchakanMon-Italic.woff2");}
@font-face {font-family: "Kitchakan Mon Medium Italic"; src: url("KitchakanMon-MediumItalic.woff2");}
@font-face {font-family: "Kitchakan Mon SemiBold Italic"; src: url("KitchakanMon-SemiBoldItalic.woff2");}
@font-face {font-family: "Kitchakan Mon Bold Italic"; src: url("KitchakanMon-BoldItalic.woff2");}
@font-face {font-family: "Kitchakan Mon ExtraBold Italic"; src: url("KitchakanMon-ExtraBoldItalic.woff2");}
@font-face {font-family: "Kitchakan Mon Black Italic"; src: url("KitchakanMon-BlackItalic.woff2");}
